.itembox {
  border: solid 1px #ccc;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 10px;
  .title {
    font-size: 18px;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 18px;
      margin-right: 4px;
      background-color: rgb(64, 196, 51);
    }
  }
}